html {
    scroll-behavior: smooth;
}

body{
    color: #000407;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/*or fantasy*/
}

#header{
    background-color: white;
    top:0;
    position: sticky;
    overflow:hidden;
}
#main{
    background-image: url(register.jpeg);
}
#logo{
    height:100px;
    float: left;
    background-color: transparent;
}

li{
    display: inline;
    float:right;
    padding: 40px;
    background-color: transparent;
    top: 2px;
    color:#edb518;
    font-size:20px;
    text-decoration:none;
    padding-bottom:30px;
    padding-top:30px;
}
a[href='login.php'] li{
     border-bottom:3px solid #edb518;
}

li:hover{
   text-shadow: 1px 1px black ;
   text-decoration:none;
}
a:visited li{
 display: inline;
    float:right;
    padding: 40px;
    background-color: transparent;
    top: 2px;
    color:#edb518;
    font-size:20px;
    padding-bottom:47px;
    padding-top:47px;
    text-decoration:none;
}
h1{
    text-align: center;
    font-size: 80px;
    color: black ;
}

#footer{
    background-color: white;    
}

h1{
    text-align: center;
    font-size: 80px;
    color: black ;
}

h4{
    text-align:center;
}

h6{
    text-align: center;
}

#address{
    border-bottom: #79031D 2px solid;
    padding-bottom: 12px;
}

#footer h4 {
    margin-bottom: 10px;
    padding-bottom: 0;
}

#footer h6 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}



#socials {
    margin-top: 0.3%;
    position: relative;
    left: 48.25%;
}

#form {
    margin-left:27%;
    width: 45%;
    color: #edb518;
    background-color: white;
    border-radius: 30px;
}

label, p {
    font-weight: bold;
    padding-left: 3%;
    padding-right: 1%;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

input {
    margin-top: 15px;
    border-width: 1px;
    height: 22px;
    border-radius: 7px;
}

hr {
    margin: 20px auto;
    width: 95%;
}

.top {
    margin-top: 0;
    padding-top: 0;
}


.courses {
    margin-top:0;
    padding-top: 0;
}


.button {
    font-weight: bold;
    padding:10px;
    background-color: #edb518;
    border-color: transparent;
    border-radius: 10px;
    width:80px;
    height: 30px;
    font-size: 15px;
}


h6 a:link{
Color:black;}
h6 a:visited{
Color:#79031D;}
.x{
    text-align:center;
}
#signup:link
{
    text-decoration:none;
    color:black;
}

#signup:visited{
    text-decoration:none;
    color:black;
}



